<aside>
	<div class="container">
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<!<img src="{{site.url}}/images/background.jpg" alt = "Background" height="100%" width="125%">>
	<div class="centered">
		<p>{{ site.title }}</p>
	</div>
</header>

<style>
.centered {
	position: absolute;
	top: 27.5%;
	left: 50%;
	transform: translate(-50%, -45%);
	font-size: 7vw;
	font-weight: bold;
	color: white;
	opacity: 0.9;
	border: 1px solid white;
	padding: 5px;
	border-radius: 20px;
}
</style>
