<aside>
	<div class="container">
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<!<img src="{{site.url}}/images/background.jpg" alt = "Background" height="100%" width="125%">>
	<div class="centered">
		<p>{{ site.title }}</p>
	</div>
</header>

<style>
.centered {
	position: relative;
	font-size: 7vw;
	font-weight: bold;
	height: 20vw;
	color: white;
	border: 0.1vw dotted white;
	padding: 0 4vw;
	border-radius: 5vw;
	line-height: 5vw;
}
</style>
